@font-face {
  font-family: "SF ProDisplay";
  src: url("../fonts/sf-pro-display_regular.woff2");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "SF ProDisplay", sans-serif;
  font-weight: 400;
}

.section-main {
  padding-top: 55px;
  text-align: center;
  min-height: 692px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.iphone-pro {
  background-image: image-set(
    "../images/hero_iphone_17_pro.avif" type("image/avif"),
    "../images/hero_iphone_17_pro.webp" type("image/webp"),
    "../images/hero_iphone_17_pro.jpg"
  );
}

.iphone-air {
  background-image: image-set(
    "../images/hero_iphone_air.avif" type("image/avif"),
    "../images/hero_iphone_air.webp" type("image/webp"),
    "../images/hero_iphone_air.jpg"
  );
}

.iphone {
  background-image: image-set(
    "../images/hero_iphone_17.avif" type("image/avif"),
    "../images/hero_iphone_17.webp" type("image/webp"),
    "../images/hero_iphone_17.jpg"
  );
}

.section-main_ _title {
  font-family: "SF ProDisplay", sans-serif;
}
